@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikerConnectDIW</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BikerConnectDIW.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="~/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark bg-gradient text-white w-100">
            <div class="container-fluid ms-5">
                <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/logo.webp" class="logo" alt="logo bikerconnect" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav me-5 ms-auto">
                    @if (currentController == "Home" && currentAction == "Index")
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/auth/login">
                                <i class="bi bi-box-arrow-in-right fs-5"> Iniciar sesión</i>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/auth/crear-cuenta">
                                <i class="bi bi-person-add fs-5"> Crear cuenta</i>
                            </a>
                        </li>
                    }
                    @if (currentController == "Login" && currentAction == "Login")
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/auth/crear-cuenta">
                                <i class="bi bi-person-add fs-5"> Crear cuenta</i>
                            </a>
                        </li>
                    }

                    @if ((currentController == "Registro" && currentAction == "RegistrarGet") 
                        || 
                        (currentController == "SolicitarRecuperacion" && currentAction == "MostrarVistaIniciarRecuperacion"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/auth/login">
                                <i class="bi bi-box-arrow-in-right fs-5">Iniciar sesión</i>
                            </a>
                        </li>
                        
                    }
                    @if ((currentController == "AdministracionUsuarios" && currentAction == "ListadoUsuarios") 
                        || 
                        (currentAction == "MostrarMisMotos" || currentAction == "EliminarMoto" || currentAction == "RegistrarMotoPost")
                        ||
                        (currentController == "Quedadas" && currentAction == "Quedadas"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/privada/dashboard">
                                <i class="bi bi-house fs-5">Volver a Dashboard</i>
                            </a>
                        </li>
                    }
                    @if (currentController == "AdministracionUsuarios" 
                        && 
                        (currentAction == "MostrarFormularioEdicion" || currentAction == "RegistroUsuarioDesdeAdminGet"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/privada/administracion-usuarios">
                                <i class="bi bi-person-fill-gear fs-5">Volver a Administracion usuarios</i>
                            </a>
                        </li>
                    }
                    @if (currentController == "MisMotos" && currentAction == "MostrarFormNuevaMoto")
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/privada/mis-motos">
                                <i class="bi bi bi-bicycle fs-5">Volver a Mis motos</i>
                            </a>
                        </li>
                    }
                    @if (currentController == "Quedadas" && (currentAction == "PlanificarQuedada" || currentAction == "VerDetallesQuedada"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold text-white" href="/privada/quedadas">
                                <i class="bi bi-people-fill fs-5">Volver a Quedadas</i>
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && currentController == "Login")
                    {
                        <li class="nav-item me-3">
                            <form asp-action="CerrarSesion" method="post" id="logoutForm">
                                <button type="button" class="btn buttonPrincipal" onclick="confirmarLogout()"><i class="bi bi-box-arrow-in-left"> Cerrar sesión</i></button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="vg-footer bg-dark bg-gradient">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-white" href="#" style="pointer-events: none;"><img src="~/assets/logo.webp" class="logo" alt="logo bikerconnect" style="width: 130px;"></a>
                <p class="text-center mb-0 mt-1 footer-p">Copyright © 2024 - BikerConnect Todos los Derechos Reservados</p>
                <ul class="nav list-unstyled d-flex">
                    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter-x fs-4"></i></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
