@model BikerConnectDIW.DTO.UsuarioDTO

@{
    ViewData["Title"] = "editarUsuario";
}
<div class="container py-4">
    <form class="custom-form cardPrincipal" asp-action="ProcesarFormularioEdicion" asp-controller="AdministracionUsuarios" enctype="multipart/form-data" method="post" asp-route-id="@Model.Id">
        <h2 class="text-center mb-5">
            <i class="bi bi-person-fill-gear" style="color: #1f3c85">Editar usuario</i>
        </h2>
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="email" class="form-label textoPrincipal">Correo Electrónico</label>
            <input asp-for="EmailUsuario" type="email" id="email" class="form-control" readonly disabled />
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label textoPrincipal">Nombre</label>
            <input asp-for="NombreUsuario" type="text" id="nombre" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="apellidos" class="form-label textoPrincipal">Apellidos</label>
            <input asp-for="ApellidosUsuario" type="text" id="apellidos" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label textoPrincipal">Teléfono</label>
            <input asp-for="TlfUsuario" type="tel" id="telefono" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="rol" class="form-label textoPrincipal">Rol del usuario</label>
            <select asp-for="Rol" id="rol" class="form-select" required>
                <option value="ROLE_USER">Usuario</option>
                <option value="ROLE_ADMIN">Administrador</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="foto" class="form-label textoPrincipal">Foto de Perfil</label>
            <input class="form-control" type="file" id="foto" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-primary mt-5">
            <i class="bi bi-person-fill-gear fs-5"> Guardar cambios</i>
        </button>
    </form>
</div>



