
@{
    ViewData["Title"] = "login";
}

<div class="container py-4">
    <div class="login cardPrincipal">
        <form class="custom-form" method="post" asp-action="ProcesarInicioSesion" role="form">
            <h2 class="text-center mb-5"><i class="bi bi-box-arrow-in-right" style="color: #1f3c85;"> Iniciar sesión</i></h2>
            <div class="mb-3">
                <label class="form-label textoPrincipal">Correo Electrónico</label>
                <input type="text" class="form-control" placeholder="Introduzca su correo electrónico" required autofocus />
            </div>
            <div class="mb-3">
                <label class="form-label textoPrincipal">Contraseña</label>
                <input  type="password" class="form-control" placeholder="Introduzca su contraseña" required />
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-5"><i class="bi bi-box-arrow-in-right fs-5"> Iniciar sesión</i></button>
            <hr class="border border-primary border-2 opacity-80 m-4">
            <ul class="listaLogin">
                <li><a asp-action="SolicitarRecuperacion">Olvidó su <span class="fw-bold fs-5">contraseña?</span></a></li>
                <li><a asp-action="CrearCuenta">No tiene una cuenta?<span class="fw-bold fs-5"> Regístrese</span></a></li>
            </ul>
        </form>
    </div>
</div>

