
@{
    ViewData["Title"] = "quedadas";
    var error = ViewData["error"] as string;
    var quedadaCreadaExito = ViewData["quedadaCreadaExito"] as string;
    var quedadaCreadaError = ViewData["quedadaCreadaError"] as string;
    var quedadaAsistenciaExito = ViewData["quedadaAsistenciaExito"] as string;
    var quedadaAsistenciaInfo = ViewData["quedadaAsistenciaInfo"] as string;
    var quedadaYaCompletada = ViewData["quedadaYaCompletada"] as string;
    var usuarioQuedadaNoEncontrado = ViewData["ususarioQuedadaNoEncontrado"] as string;
}

<div class="container py-4">
    <div class="card bg-light cardPrincipal">
        <div class="card-header border-bottom border-3">
            <h3 class="subtituloSecundario">Quedadas</h3>
        </div>
        <div class="card-body">
            <a asp-controller="Quedadas" asp-action="PlanificarQuedada" role="button" class="btn buttonPrincipal p-2 mb-3">
                <i class="bi bi-calendar2-date p-2 fs-5"> Planificar quedada</i>
            </a>
            <a asp-controller="Quedadas" asp-action="MisQuedadas" role="button" class="btn buttonPrincipal p-2 mb-3">
                <i class="bi bi-people p-2 fs-5"> Mis quedadas</i>
            </a>
            @if (ViewBag.Quedadas != null)
            {
                <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="tableCustom">Lugar</th>
                            <th class="tableCustom">Fecha y hora</th>
                            <th class="tableCustom">Estado</th>
                            <th class="tableCustom">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var quedada in ViewBag.Quedadas)
                        {
                            <tr>
                                <td>@quedada.Lugar</td>
                                <td>@quedada.FechaHora</td>
                                <td>@quedada.Estado</td>
                                <td>
                                    <a asp-controller="Quedadas" asp-action="VerDetallesQuedada" asp-route-id="@quedada.Id" role="button" class="btn buttonPrincipal">
                                        <i class="bi bi-file-text"> Ver</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5 class="card-title text-center text-danger">No hay ninguna quedada registrada en el sistema</h5>
            }

        </div>
    </div>
    @if (!string.IsNullOrEmpty(quedadaYaCompletada))
    {
        <script>
            mostrarNotificacion("¡La quedada ya finalizó!", "No puedes participar en una quedada completada", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(quedadaAsistenciaInfo))
    {
        <script>
            mostrarNotificacion("¡Ya estás unido a esta quedada!", "Estás marcado como asistente de la misma", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(quedadaAsistenciaExito))
    {
        <script>
            mostrarNotificacion("¡Su asistencia ha sido registrada!", "Ahora es un participante más de la quedada", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(quedadaCreadaExito))
    {
        <script>
            mostrarNotificacion("¡Quedada planificada!", "La quedada ha sido registrada con exito", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(quedadaCreadaError))
    {
        <script>
            mostrarNotificacion("¡No se pudo planificar la quedada!", "Error al registrar la quedada", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(usuarioQuedadaNoEncontrado))
    {
        <script>
            mostrarNotificacion("¡Error al confirmar tu asistencia!", "La quedada o su email de usuario no se encuentran registrados en el sistema", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }

</div>


