
@{
    ViewData["Title"] = "solicitarRecuperacionPassword";
    var mensajeErrorEmail = ViewData["MensajeErrorMail"] as string;
    var contraseñaModificadaError = ViewData["ContraseñaModificadaError"] as string;
    var mensajeErrorTokenValidez = ViewData["MensajeErrorTokenValidez"] as string;
    var mensajeErrorTokenExpirado = ViewData["MensajeErrorTokenExpirado"] as string;
    var error = ViewData["Error"] as string;
}
@model BikerConnectDIW.DTO.UsuarioDTO

<div class="container py-4">
    <div class="cardPrincipal">
        <form class="custom-form" asp-action="ProcesarInicioRecuperacion" method="post">
            <h2 class="text-center mb-5"><i class="bi bi-arrow-counterclockwise" style="color: #1f3c85;"> Solicitar recuperación de contraseña</i></h2>
            <div class="mb-5 mt-5">
                <label for="email" class="form-label textoPrincipal">Correo electrónico</label>
                <input type="email" name="EmailUsuario" class="form-control" id="email" placeholder="Introduzca su correo electronico" required autofocus />
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-counterclockwise fs-5"> Solicitar</i></button>
            </div>
            <div class="text-center mt-4">
                <div class="textoPrincipal"><b>Se le enviará un email a su bandeja de entrada con el procedimiento a seguir para que pueda recuperar su contraseña de forma segura.</b></div>
            </div>
        </form>
    </div>
    @if (!string.IsNullOrEmpty(contraseñaModificadaError))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ha ocurrido un error al reestablecer la contraseña", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorEmail))
    {
        <script>
            mostrarNotificacion("¡Cuenta de correo electrónico no encontrada!", "Se ha producido un error en el proceso de recuperación, por favor revise la información ingresada.", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorTokenValidez))
    {
        <script>
            mostrarNotificacion("¡El enlace no es válido!", "Si necesita restablecer su contraseña, inicie el proceso de recuperación de nuevo", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorTokenExpirado))
    {
        <script>
            mostrarNotificacion("¡El enlace ha caducado!", "Por favor, vuelva iniciar el proceso de solicitar la recuperación de contraseña", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }
</div>


